*{
	margin: 0;
	text-decoration: none;
	list-style: none;

}

body {
    font-family: serif;
    background-image: url(/img/landscape.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 100px; /* Ajoutez un espace en haut pour la navbar */
  	margin-bottom: 15vh;
}


.download-app {
  background-color: #5c6bc0; /* Bleu */
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.download-app h2 {
  margin-top: 0;
}

.download-app p {
  margin-bottom: 10px;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff4081; /* Rose */
  color: #fff;
  text-decoration: none;
  border-radius: 13px;
  transition: background-color 0.3s ease;
  border: 2px solid #fff;
}

.download-button:hover {
  background-color: #f06292; /* Rose plus clair au survol */
}

.logo img {
    position: fixed; /* Conservez le positionnement fixe */
    top: 3px; /* Assurez-vous qu'il soit tout en haut */
    left: 3px; /* Alignez-le à gauche */
    width: 120px; /* Taille du logo */
    margin: 0; /* Ajustez les marges si nécessaire */
    z-index: 1002; /* Assurez-vous qu'il soit au-dessus de la navbar */
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligner les éléments à droite */
    width: 100%;
    position: fixed;
    top: 0; /* Ajuste en fonction de l'espace souhaité avec le haut de la page */
    right: 0; /* Ajuste en fonction de l'espace souhaité avec le côté droit de la page */
    margin: 0;
	margin-top: 50px;
    margin-right: 150px;
    padding: 10px; /* Ajuste en fonction de l'espace souhaité autour des éléments de la navbar */
    box-sizing: border-box;
    z-index: 1001; /* Assurez-vous que la navbar est au-dessus des autres éléments */
}

	
	.nav-links li a {
		color: rgb(255, 52, 52);
	}
	
	.nav-links li:hover a {
		color: rgb(255, 180, 180);
		align-items: center;
		margin-top: 17px;
	}
	
	.nav-links li:hover {
		border-color: #fc4e4eee;
		background-color: rgba(255, 0, 0, 0.548);
		align-items: center;
		margin-top: 15px;
	}
	
	.nav-links li {
		margin: 10px 0; /* Ajuste en fonction de l'espace souhaité entre les éléments sur les petits écrans */
		background-color: rgba(220, 20, 60, 0.267);
		width: 100px;
		border: solid rgba(255, 59, 59, 0.26) 3px;
		border-radius: 10px;
		text-align: center;
		font-size: 17px;
	}
	
	.navbar .logo img{
		width: 200%;
		margin-top: -15px;
		margin-left: -15px;
	}
	
	.text-l {
		color: white;
		font-size: 30px;
		display: block;
	}
	
	.nav-links ul {
		display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-right: -140px;
        margin-top: -25px;
        }
	
	.navbar .nav-links ul li {
		margin: 0 15px;
		margin-top: 10px;
	}
	
	.active  a {
		color: rgb(255, 0, 0);
	}
	
	.navbar .menu-hamburger {
		display: none;
		position: relative;
		top: 20px;
		right: 60px;
		width: 30px;
	}

.main-content {
  max-width: 400px;
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
  text-align: center;
  color: #d10000;
  font-family: 'Jomolhari', serif;
  margin-bottom: 20px;
}

label {
  color: #d10000;
  margin-bottom: 5px;
  display: block;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button-17 {
  background-color: #d10000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}

.button-17:hover {
  background-color: #ba0000;
}

.forgot-password {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #d10000;
  font-size: 14px;
}

.message {
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
}


/* Pieds de page */
footer {
    background-color: rgba(255, 129, 129, 0.596);
    color: #000;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 10px rgb(170, 0, 51);
}

.center {
	text-align: center;
	margin: -10px;
}

.text1-pdp {
		margin-right: 5px;
}

.text2-pdp {
	margin-left: 5px;
}

#characters {
    background-color: #f2c94c;
}


@media screen and (max-width: 950px) {
	.text-l {
    color: white;
    font-size: 30px;
    display: none;
  	}
}


@media screen and (max-width: 695px) {
  
    .download-app {
    background-color: #5c6bc0; /* Bleu */
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 100vh;
    margin-left: 5vh;
    margin-right: 5vh;
  	}

	.navbar {
		margin-right: 10px;
		margin: 0px;
		width: 106%;
	}

	.navbar .menu-hamburger {
		display: block;
        margin-top: 0px;
        margin-right: -35px;
	}

	.nav-links {
		top: 0;
		left: 0;
		background-color: rgba(255, 0, 0, 0.13);
		backdrop-filter: blur(5px);
		position: absolute;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -100%;
		transition: all 0.5s ease;
	}

	.nav-links.mobile-menu {
		margin-left: 0px;
		.active {
			color: crimson;
		}
	}

	.nav-links ul {
		display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 20px;
	}

	.navbar .nav-links ul li {
		margin: 10px 0;
		font-size: 1.2em;
		color: rgba(255, 202, 202, 0.932);
	}


	.logo {
		margin-top: -15px;
		margin-left: 30px;
	}

	.text-l {
		color: white;
		margin-left: -130px; 
		margin-top: 35px;
		font-size: 30px;
		display: none;
	}

	.navbar .logo img{
		width: 200%;
		margin-top: 30px;
	}

	.nav-links li a {
		color: rgb(255, 0, 0);
	}
	
	.nav-links li:hover a {
		color: rgb(255, 0, 0);
		
	}
	
	.nav-links li:hover {
		border-color: #ff000070;
		background-color: rgba(255, 162, 162, 0.932);
	}
	
	.nav-links li {
		background-color: rgba(255, 139, 139, 0.781);
		width: 100px;
		border: solid rgba(255, 84, 84, 0.568) 3px;
		border-radius: 10px;
	}
}