/* Styles de base pour tous les appareils */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: #fff;
}

td {
    color: #555;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Styles pour la barre de recherche */
form {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

@media (max-width: 767px) {
    #searchInput {
        width: 100%;
    }
    th, td {
        padding: 8px;
        font-size: 14px; /* Réduire la taille de la police pour les petits écrans */
    }
}
