*{
	margin: 0;
	text-decoration: none;
	list-style: none;

}

body {
    font-family: serif;
    background-image: url(/img/landscape.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 100px; /* Ajoutez un espace en haut pour la navbar */
}

.logo img {
    position: fixed; /* Conservez le positionnement fixe */
    top: -3px; /* Assurez-vous qu'il soit tout en haut */
    left: 0; /* Alignez-le à gauche */
    width: 130px; /* Taille du logo */
    margin: 0; /* Ajustez les marges si nécessaire */
    z-index: 1002; /* Assurez-vous qu'il soit au-dessus de la navbar */
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: -45px;
    right: -15vh;
    margin: 0;
    margin-top: 50px;
    margin-right: 150px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1001;
}


.nav-links a:hover {
	border-color: #fc4e4eee;
	background-color: rgba(255, 0, 0, 0.548);
	align-items: center;
	margin-top: 15px;
}

.nav-links a {
    margin: 10px 0;
    background-color: rgba(220, 20, 60, 0.267);
    width: 100px;
    border: solid rgba(255, 59, 59, 0.26) 3px;
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 0, 0);
}

.navbar .logo img{
	width: 200%;
	margin-top: -15px;
	margin-left: -15px;
}

.text-l {
	color: white;
	font-size: 30px;
	display: block;
}

.nav-links ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar .nav-links ul a {
	margin: 0 15px;
	margin-top: 10px;
}
	
	.navbar .logo img{
		width: 200%;
		margin-top: -15px;
		margin-left: -15px;
	}
	
	.text-l {
		color: white;
		font-size: 30px;
		display: block;
	}
	
	
	.text-l {
		color: white;
		font-size: 30px;
		display: block;
	}
	
	.nav-links a {
		list-style: none;
		margin: 0;
		flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
		padding: 0;
	}
	
	.navbar .nav-links ul li {
		margin: 0 15px;
		margin-top: 10px;
	}
	
	.active  a {
		color: rgb(255, 0, 0);
	}
	
	.navbar .menu-hamburger {
		display: none;
		position: relative;
		top: 20px;
		right: 60px;
		width: 30px;
	}

.main-content {
  max-width: 400px;
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
  text-align: center;
  color: #d10000;
  font-family: 'Jomolhari', serif;
  margin-bottom: 20px;
}

label {
  color: #d10000;
  margin-bottom: 5px;
  display: block;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.welcome-message {
	background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    padding: 20px;
    max-width: 1100px;
    margin: 50px auto;
}

.welcome-message h1 {
  color: #d10000; /* Couleur rouge pour assortir au style du bouton */
  margin-bottom: 20px;
}

.button-17 {
  background-color: #d10000;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.button-17:hover {
  background-color: #ba0000; /* Un rouge légèrement plus foncé au survol */
}


.forgot-password {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #d10000;
  font-size: 14px;
}

.message {
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
}


/* Pieds de page */
footer {
    background-color: rgba(255, 129, 129, 0.596);
    color: #000;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 10px rgb(170, 0, 51);
}

.center {
	text-align: center;
	margin: -10px;
}

.text1-pdp {
		margin-right: 5px;
}

.text2-pdp {
	margin-left: 5px;
}

#characters {
    background-color: #f2c94c;
}

.welcome-message h1 {
    color: #d10000;
    margin-bottom: 20px;
    text-align: center;
}

hr {
    color: #d10000;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 2px;
    border-radius: 10px;
}
h2 {
    margin-left: 10px;
    color: #8e0000;
    margin-bottom: 5px;
}
.button-17 {
    background-color: #d10000;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    font-family: Fantasy;
    font-weight: bold;
}

@media screen and (max-width: 695px) {
    .welcome-message h1 {
        font-size: 22px;
    }
  
  	.welcome-message {
    margin-left: 20px;
    margin-right: 20px;
}
  
	.navbar {
		margin-right: 10px;
		margin: 0px;
		width: 106%;
	}

	.navbar .menu-hamburger {
		display: block;
        margin-top: 18px;
        margin-right: 108px;
	}

    .nav-links {
        top: 0px;
        margin-top: 25px;
        left: -170px;
        background-color: rgba(255, 0, 0, 0.13);
        backdrop-filter: blur(5px);
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

	.nav-links.mobile-menu {
		margin-left: 60px;
        margin-top: 25px;
		.active {
			color: crimson;
		}
	}

	.nav-links ul {
		display: grid;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.nav-links a {
		margin: 10px 0;
		font-size: 1.2em;
		color: rgba(255, 202, 202, 0.932);
	}


	.logo {
		margin-top: -15px;
		margin-left: 30px;
	}

	.text-l {
		color: white;
		margin-left: -130px; 
		margin-top: 35px;
		font-size: 30px;
		display: none;
	}

	.navbar .logo img{
		margin-top: 30px;
	}
	
	.nav-links a:hover {
		border-color: #ff000070;
	}
	
	.nav-links a {
		width: 100px;
		border-radius: 10px;
	}
}