* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: serif;
    background-image: url(/img/landscape.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 100px; /* Ajoutez un espace en haut pour la navbar */
    margin-bottom: 15vh;
}

.logo img {
    position: fixed; /* Conservez le positionnement fixe */
    top: 3px; /* Assurez-vous qu'il soit tout en haut */
    left: 3px; /* Alignez-le à gauche */
    width: 120px; /* Taille du logo */
    margin: 0; /* Ajustez les marges si nécessaire */
    z-index: 1002; /* Assurez-vous qu'il soit au-dessus de la navbar */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligner les éléments à droite */
    width: 100%;
    position: fixed;
    top: 0; /* Ajuste en fonction de l'espace souhaité avec le haut de la page */
    right: 0; /* Ajuste en fonction de l'espace souhaité avec le côté droit de la page */
    padding: 10px; /* Ajuste en fonction de l'espace souhaité autour des éléments de la navbar */
    box-sizing: border-box;
    z-index: 1001; /* Assurez-vous que la navbar est au-dessus des autres éléments */
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: #FF3434;
}

.nav-links li:hover a {
    color: #FFB4B4;
}

.partners {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners li {
    width: 300px;
    background-color: #FFF;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.partners img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.partners h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.partners p {
    font-size: 16px;
    margin-bottom: 5px;
}

.partners a {
    color: #FF3434;
}

.partners a:hover {
    color: #FFB4B4;
}

/* Pieds de page */
footer {
    background-color: rgba(255, 129, 129, 0.596);
    color: #000;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 10px rgb(170, 0, 51);
}

@media screen and (max-width: 950px) {
    .navbar {
        margin-right: 10px;
        margin: 0px;
        width: 106%;
    }

    .logo {
        margin-top: -15px;
        margin-left: 30px;
    }

    .nav-links {
        top: 0;
        left: 0;
        background-color: rgba(255, 0, 0, 0.13);
        backdrop-filter: blur(5px);
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0px;
    }

    .nav-links ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 20px;
    }

    .nav-links li {
        margin: 10px 0;
        font-size: 1.2em;
        color: rgba(255, 202, 202, 0.932);
    }
}
